.side {
    padding: 5em 4.5em 2em 3.5em;
}

.map-bg {
    background-image: url('../../../assets/img/map.jpg');
    background-size: cover;
    box-shadow: 5px 10px 10px #acacac;
}

.map-cover {
    background-color: #204197;
    opacity: .7;
    position: relative;
}

.green {
    color: #85C33D;
}

.side-title {
    color: #204197;
    margin-bottom: 10vh;
    font-family: ubuntu;
}

.login-title {
    font-weight: 600;
    letter-spacing: .5vh;
    color: #17a2b8;
    font-family: ubuntu;
}

.btn-primary {
    background-color: #204197;
    border-color: #204197;
    height: 3.5em;
    font-weight: 600;
    letter-spacing: .5vh;
}


.btn-primary:hover{
    background-color: #031d5e;
}

.btn-primary:focus{
    background-color: #204197;
    border-color: #204197;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 5em;
  }

  .cover-title {
      font-size: 10vh;
      color: white;
      font-weight: 700;
      letter-spacing: .8vh;
      font-family: ubuntu;
  }

  .cover-body {
      font-size: 3vh;
      font-family: ubuntu;
      color: white;
  }