<div class="row h-100">
    <div class="col-sm-9 p-0 map-bg">
        <div class="map-cover w-100 h-100"></div>
        <div class="row vertical-center">
            <div class="col-sm-1 text-center">
                <fa-icon [icon]="arrowRight" style="color:#85C33D" class="cover-title"></fa-icon>
            </div>
            <div class="col-sm-11 pl-0">
                <p class="cover-title mb-3">URBI<span class="green">QUITY</span></p>
                <p class="cover-body w-75">Lorem ipsum dolor amet brooklyn commodo laborum laboris air plant in chartreuse ut nulla normcore id non hashtag kombucha ipsum.</p>        
            </div>
        </div>
    </div>
    <div class="col-sm-3 side h-100">
        <img src="../../../assets/img/icon.svg" class="w-25">
        <h2 class="side-title">URBI<span class="green">QUITY</span></h2>
        <div class="row p-0">
            <div class="col-sm-6">
                <h1 class="login-title">Login</h1>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-outline-info w-100 h-75">
                    Sign up
                </button>
            </div>
        </div>
        <hr class="mb-5">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <input type="email" name="email" class="form-control"
                    placeholder="Email" ngModel/>
                </div>
                <div class="col-sm-12 mb-3">
                    <input type="password" name="password" class="form-control"
                    placeholder="Password" ngModel/>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary form-control" type="submit">LOGIN</button>
                </div>
            </div>
        </form>
    </div>
</div>