<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- (mapClick)="addMarker($event.coords.lat, $event.coords.lng)" -->
<agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapLoad($event)" [zoom]="15"
    [mapTypeId]="'satellite'">
    <agm-marker 
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [opacity]="marker.alpha"
        [markerDraggable]="true"
        (markerClick)="selectMarker($event)">

        <!-- <agm-snazzy-info-window [isOpen]="false" [latitude]="marker.lat" [longitude]="marker.lng" [closeWhenOthersOpen]="true">
            <ng-template>
                My first Snazzy Info Window!
            </ng-template>
        </agm-snazzy-info-window> -->

        <agm-info-window [disableAutoPan]="false" #infoWindow>

            <div>
                
                <span><h3><fa-icon [icon]="icon" [style.color]="color" class="cover-title mr-2"></fa-icon> {{marker_title}}</h3></span>
            </div>
            <div class="text-center w-100">
                <h6>Reason: <span class="btn btn-primary">{{reason}}</span></h6>
                <h6>Accuracy: <span class="btn btn-success">{{accuracy}}</span></h6>
                <!-- <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right">Daje <i class="fa fa-angle-double-right"></i></a> -->
            </div>

        </agm-info-window>

    </agm-marker>

    <!-- <agm-rectangle
        [north]="max('lat')"
        [east]="max('lng')"
        [south]="min('lat')"
        [west]="min('lng')"
    ></agm-rectangle> -->
</agm-map>